{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width = device-width, initial-scale = 1">
        <title>JavaScript Paint App</title>
        <link rel="stylesheet" type="text/css" href="{% static 'mainstyle.css' %}">
        <script src="{% static 'jscolor.js' %}"></script>
        <script src="{% static 'jstut7-2.js' %}"></script>

    </head>
    <body>
        <div class="wrapper">

            <div class="toolbar">
                <a class="selected" href="#" id="open" onclick="OpenImage()"><img src="{% static 'icons/open-icon.png' %}"></a>
                <a href="#" id="save" onclick="SaveImage()"><img src="{% static 'icons/save-icon.png' %}"></a>
                <a href="#" id="brush" onclick="ChangeTool('brush')"><img src="{% static 'icons/brush-icon.png' %}"></a>
                <a href="#" id="line" onclick="ChangeTool('line')"><img src="{% static 'icons/line-icon.png' %}"></a>
                <a href="#" id="rectangle" onclick="ChangeTool('rectangle')"><img src="{% static 'icons/rectangle-icon.png %}"></a>
                <a href="#" id="circle" onclick="ChangeTool('circle')"><img src="{% static 'icons/circle-icon.png %}"></a>
                <a href="#" id="ellipse" onclick="ChangeTool('ellipse')"><img src="{% static 'icons/ellipse-icon.png %}"></a>
                <a href="#" id="polygon" onclick="ChangeTool('polygon')"><img src="{% static 'icons/polygon-icon.png %}"></a>
            </div><br>
<canvas id="my-canvas" width="600" height="600"></canvas>
            <div id="img-data-div">
                <a href="#" id="img-file" download="image.png">download image</a>
            </div>

        </div>
    </body>
</html>

